
body #page {
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: auto;
}


#header {
	background-color: #eeebec;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}
 #header div {
	margin: 0 auto;
	max-width: 940px;
	overflow: hidden;
	padding: 41px 10px 27px;
}

#header div a.logo {
	float: left;
	margin: 0 0 0 29px;
	padding: 0;
	width: auto;
}

#header div a.logo img {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
}

#header div ul {
	display: inline-block;
	float:right;
	list-style: none outside none;
	margin: 0 auto;
	padding: 17px 0 0;
	text-align: center;
	width: 500px;
}

#header div ul li {
	display: inline-block;
	*float: left; /* Needed for IE7 and old versions */
	margin: 0 35px;
	padding: 0;
	position: relative;
	width: auto;
}

#header div ul li a {
	color: #7a6666;
	font-family: lato-regular-webfont;
	font-size: 15px;
	font-weight: normal;
	line-height: 15px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
}

#header div ul li.selected a, #header div ul li.selected a:hover {
	color: #cb3362;
}

#header div ul li a:hover, #header div ul li.menu:hover ul li a {
	color: #c8c10d;
}




#body.home div.header{
    text-align : center;
}
#body.home{
    background-color:#F7F7F7;
}


#body.home div.body {
	background-color: #eae7e8;
	margin: 0;
	max-width: none;
	padding: 0;
	width: 100%;
}

#body.home div.body div {
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
	padding: 0;
}

#body.home div.body div div {
	float: left;
	margin: 0;
	padding: 0 0 0 40px;
	width: 560px;
}

#body.home div.body div img {
	display: block;
	float: right;
	left: 0;
	margin: 0;
	padding: 0;
	position: relative;
	width: auto;
}


#body.home div.body div div h1 {
	color: #7A6666;
	display: block;
	font-family: lato-bold-webfont;
	font-size: 18px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 47px 0 18px;
	text-align: left;
	text-transform: uppercase;
	width: 560px;
} 

#body.home div.body div div h2 {
	color: #E32A62;
	display: block;
	font-family: magra-bold-webfont;
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	margin: 0;
	padding: 0 0 26px;
	text-align: left;
	text-transform: none;
	width: 560px;
}
 #body.home div.body div div p {
	color: #7a6666;
	display: block;
	font-family: roboto-regular-webfont;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 0;
	text-align: left;
	width: 560px;
}



.container .btn {
	position: absolute;
	top: 80%;
	left: 70%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	color: white;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
  }